name: Update Chart Values

on: 
  pull_request:
    branches: [ main ]

jobs:
  update-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get latest commit ID
        id: get_commit_id
        run: |
          COMMIT_ID=$(git rev-parse --short HEAD)
          echo "COMMIT_ID=$COMMIT_ID" >> $GITHUB_ENV

      - name: Configure Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Update Helm chart values
        run: |
          sed -i 's/tag:.*/tag: ${{ env.COMMIT_ID }}/' ./weather-forecast/values.yaml

      - name: Create and switch to branch
        run: |
          git checkout -b update-helm-values || git checkout update-helm-values

      - name: Pull latest changes from remote
        run: |
          git pull origin update-helm-values --rebase || echo "No changes to pull"

      - name: Commit and push changes to values.yaml
        env:
          PAT: ${{ secrets.PAT_GITHUB }}
        run: |
          git add ./weather-forecast/values.yaml
          git commit -m "Update Helm chart values with commit ID" || echo "No changes to commit"
          git push origin update-helm-values
