name: Update Chart Values

on: [push]

jobs:
  update-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get latest commit ID
        id: get_commit_id
        run: |
          COMMIT_ID=$(git rev-parse --short HEAD)
          echo "COMMIT_ID=$COMMIT_ID" >> $GITHUB_ENV

      - name: Configure Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Pull latest changes
        run: git pull origin ${{ github.ref_name }}

      - name: Update Helm chart values
        run: |
          sed -i 's/tag:.*/tag: ${{ env.COMMIT_ID }}/' ./weather-forecast/values.yaml

      - name: Commit changes to values.yaml
        env:
            PAT: ${{ secrets.PAT_GITHUB }}
        run: |
            git add ./weather-forecast/values.yaml
            git commit -m "Update Helm chart values with commit ID" || echo "No changes to commit"

      - name: Install GitHub CLI
        run: sudo apt-get install gh

      - name: Create Pull Request
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh auth login --with-token <<< $GITHUB_TOKEN
          gh pr create --base dev --head ${{ github.ref_name }} --title "Update Helm chart values with commit ID" --body "Automated pull request to update Helm chart values with the latest commit ID."
