name: Update Chart Values

on:
  push:
    branches:
      - main

jobs:
  update-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get latest commit ID
        id: get_commit_id
        run: |
          COMMIT_ID=$(git rev-parse --short HEAD)
          echo "COMMIT_ID=$COMMIT_ID" >> $GITHUB_ENV

      - name: Configure Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Update Helm chart values
        run: |
          sed -i 's/tag:.*/tag: ${{ env.COMMIT_ID }}/' ./weather-forecast/values.yaml

      - name: Create a new branch and commit changes
        run: |
          git checkout -b update-helm-values
          git add ./weather-forecast/values.yaml
          git commit -m "Update Helm chart values with commit ID"
          git push origin update-helm-values

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          title: "Update Helm chart values with commit ID"
          body: "This PR updates the Helm chart values with the latest commit ID."
          base: main
          head: update-helm-values
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
