name: Update Chart Values

on: 
  pull_request:
    branches: [ main ]

jobs:
  update-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get latest commit ID
        id: get_commit_id
        run: |
          COMMIT_ID=$(git rev-parse --short HEAD)
          echo "COMMIT_ID=$COMMIT_ID" >> $GITHUB_ENV

      - name: Set up Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Set PR Branch Environment Variable
        run: echo "PR_BRANCH=${{ github.head_ref }}" >> $GITHUB_ENV

      - name: Fetch and Checkout the PR branch
        env:
          PR_BRANCH: ${{ env.PR_BRANCH }}
        run: |
          git fetch origin "$PR_BRANCH"
          git checkout "$PR_BRANCH"

      - name: Pull latest changes
        env:
          PR_BRANCH: ${{ env.PR_BRANCH }}
        run: |
          git pull origin "$PR_BRANCH" --rebase

      - name: Update Helm chart values
        env:
          COMMIT_ID: ${{ env.COMMIT_ID }}
        run: |
          sed -i "s/tag:.*/tag: $COMMIT_ID/" ./weather-forecast/values.yaml

      - name: Commit and Push changes
        env:
          PR_BRANCH: ${{ env.PR_BRANCH }}
        run: |
          if git diff --quiet; then
            echo "No changes to commit"
          else
            git add ./weather-forecast/values.yaml
            git commit -m "Update Helm chart values with commit ID"
            git push origin "$PR_BRANCH"
          fi
