name: GitLeaks Workflow

on: [push]

jobs:
  GitLeaks:
    name: Run GitLeaks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get latest commit ID
        id: get_commit_id
        run: |
          COMMIT_ID=$(git rev-parse --short HEAD)
          echo "COMMIT_ID=$COMMIT_ID" >> $GITHUB_ENV

      - name: Configure Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Pull latest changes
        run: git pull origin ${{ github.ref_name }}

      - name: Update Helm chart values
        run: |
          sed -i 's/tag:.*/tag: ${{ env.COMMIT_ID }}/' ./weather-forecast/values.yaml
  
      - name: Commit changes to values.yaml
        run: |
          git add ./weather-forecast/values.yaml
          git commit -m "Update Helm chart values with commit ID"

      - name: Push changes to new branch
        run: git push origin
        env:
          PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
        
