name: updateHelm Workflow

on:
  workflow_dispatch:

jobs:
  updateHelm:
    name: Run checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Get latest commit ID
        id: get_commit_id
        run: |
          COMMIT_ID=$(git rev-parse --short HEAD)
          echo "COMMIT_ID=$COMMIT_ID" >> $GITHUB_ENV
      
      - name: Update Helm chart values
        run: |
          sed -i 's/tag:.*/tag: ${{ env.COMMIT_ID }}/' ./weather-forecast/values.yaml
          cat ./checkout-dir/weather-forecast/values.yaml

      - name: Push changes
        env:
          PAT: ${{ secrets.PAT_GITHUB  }}
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git add ./weather-forecast/values.yaml
          git commit -m "Automated commit by GitHub Actions"
          git push https://Pavanpatil214:${{secrets.PAT_GITHUB}}@github.com/Pavanpatil214/dotnetcoreapipoc.git HEAD:main
